<div style="height:70px;"></div>
	  	<div class="container">  
	  			<form ng-submit="search()">
					  <div class="row">
					    <div class="col s10 m10 l11">
				          <div class="input-field">
				            <input id="input_text large" type="text" ng-model="searchbox"/>
				            <!--  <a class="waves-effect waves-teal btn-flat"><i class="material-icons">search</i></a> -->
				            <label for="input_text">Search keywords</label>
				          </div>
			          	</div>
					    <div class="col s2 m2 l1" style="padding-left:0px;">
				          <i class="material-icons medium" style="margin-top:10px;">search</i>	
				        </div>	
				      </div>
			      </form>	
				  <div class="row" style="padding:0 10px 0 10px;">
				    <div class="col s10 m10 l12">
			          <div style="margin-top:0px;margin-bottom:-25px;">
		          			<span style="font-size:16px;">Search results ... 
		          			<span ng-if="currentView == 'cards'" style="text-decoration:underline;">All</span>
		          			<a  ng-if="currentView != 'cards'"href="{{allHref}}">All</a>
		          			<span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		          			<span ng-if="params.site == coll_products_name" style="text-decoration:underline;">Products</span>
		          			<a ng-if="params.site != coll_products_name" href="{{cards[coll_products_name].href}}">Products</a>
		          			<span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		          			<span ng-if="params.site == coll_health_name" style="text-decoration:underline;">Health&nbsp;Information</span>
		          			<a ng-if="params.site != coll_health_name" href="{{cards[coll_health_name].href}}">Health&nbsp;Information</a>
		          			<span style="color:#bbb">  |&nbsp;&nbsp;</span>
		          			<span ng-if="params.site == coll_maps_name" style="text-decoration:underline;">Maps</span>
		          			<a ng-if="params.site != coll_maps_name" href="{{cards[coll_maps_name].href}}">Maps</a>
		          			<span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		          			<span ng-if="params.site == coll_claims_name" style="text-decoration:underline;">Claims</span>
		          			<a ng-if="params.site != coll_claims_name" href="{{cards[coll_claims_name].href}}">Claims</a>
		          			<span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		          			<span ng-if="params.site == coll_general_name" style="text-decoration:underline;">General</span>
		          			<a ng-if="params.site != coll_general_name" href="{{cards[coll_general_name].href}}">General</a></span>
		          		</div>	
		          	</div>
			      </div>

			      <!-- if collection is ALL - show keymatches, cards and related searches-->
			      <div ng-if="currentView == 'cards'">
			      		<!--keymatches-->
			      		<div style="height:40px;"></div>
						  <div class="row" style="padding:0 10px 0 10px;">
						    <div class="col s10 m10 l12">
				              <div style="margin-bottom:0px;padding-bottom:0px;border-bottom:0px solid #efefef;">
				              	<div><a href="#">Our Products | Bupa Travel Insurance</a></div>
				              	<div>This product is available for UK residents (excluding the Channel Islands) only. ... Our products. Travel insurance quote.</div>
				              </div>
							</div>
					      </div>
			      		<!--products and health information-->
			      		<div class="row" style="margin-bottom:0px;">
							<div resultscard collection="{{coll_products_name}}" config="cards[coll_products_name]" mode="{{currentView}}" query="{{params.q}}" num-results="4"></div>
					      	
					      	<div resultscard collection="{{coll_health_name}}" config="cards[coll_health_name]" mode="{{currentView}}" query="{{params.q}}" num-results="4"></div>
					   	</div>	
			      		<!--maps and claims-->
			      		<div class="row" style="margin-bottom:0px;">
							<div resultscard collection="{{coll_maps_name}}" config="cards[coll_maps_name]" mode="{{currentView}}" query="{{params.q}}" num-results="3"></div>
					      	
					      	<div resultscard collection="{{coll_claims_name}}" config="cards[coll_claims_name]" mode="{{currentView}}" query="{{params.q}}" num-results="5"></div>
					   	</div>	
					   	<div class="row" style="margin-bottom:0px;">
							<div resultscard collection="{{coll_general_name}}" config="cards[coll_general_name]" mode="{{currentView}}" query="{{params.q}}" num-results="3"></div>
					      	
							<div class="col s12 m12 l6" style="padding-top:20px;">
					          <div class="" style="padding:10px;">
					            <div class="black-text" style="font-size:30px;margin-bottom:20px;border-bottom:1px solid #ddd;">Related Searches</div>					            
								<ul>
								<li><a href="#">operation carried</a></li>
								<li><a href="#">asleep operation</a></li>
								<li><a href="#">achemotherapy surgical operations covered</a></li>
								<li><a href="#">major operation</a></li>
								<li><a href="#">operation remove</a></li>
								<li><a href="#">hernia repair</a></li>
								<li><a href="#">chemotherapy surgical operation need</a></li>
								<li><a href="#">hiatus hernia</a></li>
								<li><a href="#">need operation</a></li>
								<li><a href="#">operation repair</a></li>
								</ul>
					     	</div>					     	
					     	
					       </div>
					   	</div>	
			      		<!--general and related searches-->
			      </div>
			      <!-- if collection is not ALL - show the fullscreen card-->
			      <div ng-if="currentView == 'fullscreen'">
			      		<div resultscard collection="{{params.site}}" config="cards[params.site]" mode="{{currentView}}" query="{{params.q}}" num-results="10"></div>
			      </div>
				   	
		
			    </div>
 
  	<div style="background: #0079c8;height:300px;margin-top:40px;">
 	</div>
