<div style="height:70px;"></div>
	  	<div class="container">  	
				  <div class="row">
				    <div class="col s10 m10 l11">
			          <div class="input-field">
			            <input id="input_text large" type="text"/>
			            <!--  <a class="waves-effect waves-teal btn-flat"><i class="material-icons">search</i></a> -->
			            <label for="input_text">Search keywords</label>
			          </div>
		          	</div>
				    <div class="col s2 m2 l1" style="padding-left:0px;">
			          <i class="material-icons medium" style="margin-top:10px;">search</i>	
			        </div>	
			      </div>
				  <div class="row" style="padding:0 10px 0 10px;">
				    <div class="col s10 m10 l12">
			          <div style="margin-top:0px;margin-bottom:-25px;">
		          			<span style="font-size:16px;">Search results ... <span style="text-decoration:underline;">All</span><span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="/products5.html">Products</a><span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="#1-2">Health&nbsp;Information</a><span style="color:#bbb">  |&nbsp;&nbsp;</span><a href="#3-4">Maps</a><span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="#1-2">Claims</a><span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="#1-2">General</a></span>
		          		</div>	
		          	</div>
			      </div>

			      <!-- if collection is ALL - show keymatches, cards and related searches-->
			      [{{currentCollection}}]
			      <div ng-if="currentCollection == 'all'">
			      		card view
			      		<!--keymatches-->
			      		<!--products and health information-->
			      		<div class="row" style="margin-bottom:0px;">
							<div resultscard collection="bankofengland" title="{{cards[bankofengland].title}}"></div>
					      	
					      	<div resultscard collection="lloyds" title="{{cards[lloyds].title}}"></div>
					   	</div>	
			      		<!--maps and claims-->
			      		<!--general and related searches-->
			      </div>
			      <!-- if collection is not ALL - show the fullscreen card-->
			      <div ng-if="currentCollection != 'all'">
			      	fullscreen
			      		<div resultscard collection="{{currentCollection}}" title="{{cards[currentCollection].title}}"></div>
			      </div>
				<div style="height:40px;"></div>
				  <div class="row" style="padding:0 10px 0 10px;">
				    <div class="col s10 m10 l12">
		              <div style="margin-bottom:0px;padding-bottom:0px;border-bottom:0px solid #efefef;">
		              	<div><a href="#">Our Products | Bupa Travel Insurance</a></div>
		              	<div>This product is available for UK residents (excluding the Channel Islands) only. ... Our products. Travel insurance quote.</div>
		              </div>
					</div>
			      </div>			      		      
					    
					<div class="row" style="margin-bottom:0px;">
				      	<div class="col s12 m12 l6" style="padding-top:20px;">

					          <div class="" style="padding:10px;">
					            	<div class="card-title black-text" style="font-size:30px;margin-bottom:20px;border-bottom:1px solid #ddd;">Maps</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d79588.60084359295!2d-0.20354667905273738!3d51.43715339545225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shospital!5e0!3m2!1sen!2suk!4v1439987703475" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>					              	

						              <div style="margin-top:20px;margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">London South Kensington Health Bupa Centre</a></div>
						              	<div>The Smart Clinics 13 Crescent Place South Kensington LONDON SW3 2EA.</div>
						            <div><i class="fa fa-phone black-text" ></i> <a href="#">0808 115 4396</a></div>
						              </div>
									
									<div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
					              	<div><a href="#">London Wandsworth Bupa Health Centre</a></div>
					              	<div>15 Bellevue Road LONDON SW17 7EG</div>
						            <div><i class="fa fa-phone black-text" ></i> <a href="#">0808 115 4396</a></div>
					              	</div>					  
					              	          
									<div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
					              	<div><a href="#">London West End Bupa Health and Dental Centre</a></div>
					              	<div>53 Mortimer Street LONDON W1W 8HR</div>
						            <div><i class="fa fa-phone black-text" ></i> <a href="#">0808 115 4396</a></div>
					              	</div>					            
					            
					            <div class="" style="padding-top:10px;">
					              <a href="#" style="color:orange;">View more ...</a>
					            </div>
					     	</div>					            
					     						            
				      	</div>
				      	<div class="col s12 m12 l6" style="padding-top:20px;">
					          <div class="" style="padding:10px;">
					            	<div class="black-text" style="font-size:30px;margin-bottom:20px;border-bottom:1px solid #ddd;">Claims</div>					            
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">How To Make A Claim | Bupa Travel Insurance</a></div>
						              	<div>Before you make your claim, please check the 'claims evidence' sub-section of the relevant sections in your travel insurance Policy Wording to ...</div>
						              </div>
					            	
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">Make A Claim</a></div>
						              	<div>Hassle-free claiming - If you choose a Bupa ... centre, we can settle your claim without the ...</div>
						              </div>
						              
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">[PDF] Emergency Dental Treatment Claim Form</a></div>
						              	<div>All claims must include ... of the treatment oo only treatment itemised on this claim form can be claimed for subject ...</div>
						              </div>
						              
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">[PDF] Dental Injury Claim Form</a></div>
						              	<div>We may contact your solicitor to ensure that any claims payments we make are included in your legal claim against the other party.</div>
						              </div>
						              
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">[PDF] Introducing Your No Claims Discount</a></div>
						              	<div>if you do need to make a claim your discount ... will reduce depending on the amount you claimed. ...</div>
						              </div>
						              
						              
					            <div class="">
					              <a href="#" style="color:orange;">View more ...</a>
					            </div>
					     	</div>					     	
					     	
					      	</div>
				   	</div>

					<div class="row" style="margin-bottom:0px;">
				      	<div class="col s12 m12 l6" style="padding-top:20px;">				            

					          <div class="" style="padding:10px;">
					            	<div class="black-text" style="font-size:30px;margin-bottom:20px;border-bottom:1px solid #ddd;">General</div>					            
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">Health Cash Plans That Help Employees Reclaim Healthcare ...</a></div>
						              	<div>Our business health cash plans help towards the costs of everyday healthcare including dental and optical fees and prescription costs. ...</div>
						              </div>
					            	
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">Occupational Health Services To Help Cut Corporate ...</a></div>
						              	<div>Our occupational health services address workplace health issues to help prevent absenteeism at your business. ... Occupational health. ...</div>
						              </div>
						              
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">Health At Work - Tips On Health And Wellbeing While At Work ...</a></div>
						              	<div>Let Bupa help you improve your health and wellbeing at work. ... Health at work. Keeping well at work needn't be a chore. ...</div>
						              </div>
					            <div class="">
					              <a href="#" style="color:orange;">View more ...</a>
					            </div>
					     	</div>	
					     						            
				      	</div>
				      	<div class="col s12 m12 l6" style="padding-top:20px;">
					          <div class="" style="padding:10px;">
					            <div class="black-text" style="font-size:30px;margin-bottom:20px;border-bottom:1px solid #ddd;">Related Searches</div>					            
								<ul>
								<li><a href="#">operation carried</a></li>
								<li><a href="#">asleep operation</a></li>
								<li><a href="#">achemotherapy surgical operations covered</a></li>
								<li><a href="#">major operation</a></li>
								<li><a href="#">operation remove</a></li>
								<li><a href="#">hernia repair</a></li>
								<li><a href="#">chemotherapy surgical operation need</a></li>
								<li><a href="#">hiatus hernia</a></li>
								<li><a href="#">need operation</a></li>
								<li><a href="#">operation repair</a></li>
								</ul>
					     	</div>					     	
					     	
					      	</div>
				   	</div>
				   	
		
			    </div>
 
  	<div style="background: #0079c8;height:300px;margin-top:40px;">
 	</div>
