<div>  
    <!--keymatches-->
    <div ng-repeat="GM in buckets[coll_products_name].GSP.GM" class="keymatches">
    	<div>
    		<a href="{{GM.GL}}" ng-bind="GM.GD"></a>
    	</div>
    	<div ng-bind="GM.GL"></div>
    	<br/>
    </div>

    <div ng-if="params.q">
      	<!--no results-->
	      <div ng-if="allLoaded()">
			<div ng-if="!hasResults()">
				<span class="p"><br>
				   Your search <b ng-bind="'\'' + params.q + '\''"></b> did not return any results.
				   <br><br></span>
				Suggestions:
				<ul class="suggestions_ul">
				   <li>Make sure all words are spelled correctly.</li>
				   <li>Try different keywords.</li>
				   <li>Try more general keywords.</li>
				   <li>Try fewer keywords.</li>
				</ul>
			</div>	
	      </div>
	      <div  class="row card-grid">
		      <!-- if collection is ALL - show keymatches, cards and related searches-->
			  <div ng-if="currentView == 'cards'">
			      <div>
						<span resultscard collection="{{coll_products_name}}" config="cards[coll_products_name]" mode="{{currentView}}" params="params" num-results="4"></span>
					      	
				      	<span resultscard collection="{{coll_health_name}}" config="cards[coll_health_name]" mode="{{currentView}}" params="params" num-results="4"></span>
		      			<!--maps and claims-->
						<span resultscard collection="{{coll_maps_name}}" config="cards[coll_maps_name]" mode="{{currentView}}" params="params" num-results="3"></span>
				      	
				      	<span resultscard collection="{{coll_claims_name}}" config="cards[coll_claims_name]" mode="{{currentView}}" params="params" num-results="5"></span>
				   		<!--general and related searches-->
						<span resultscard collection="{{coll_general_name}}" config="cards[coll_general_name]" mode="{{currentView}}" params="params" num-results="5"></span>
				      	
						<div ng-if="clusters.clusters[0].clusters" class="result-card col s12 m12 l6" >
				            <div class="card-header" >Related Searches</div>	
				            <div ng-repeat="cluster in clusters.clusters[0].clusters" class="cluster-result" > 
				            	<a href="#" ng-bind="cluster.label" ng-click="searchFor(cluster.label)"></a>
							</div>
					    </div>
					</div>	
			      		
			   </div>
			      <!-- if collection is not ALL - show the fullscreen card-->
			   <div ng-if="currentView == 'fullscreen'">
			      		<div resultscard collection="{{params.site}}" config="cards[params.site]" mode="{{currentView}}" params="params" num-results="10"></div>
			   </div>
		</div>
	</div>
</div>