						({{rescol}})<div ng-repeat="R in results[rescol].GSP.RES.R">
							[{{R.T}}]
						</div>
						<div class="col s12 m12 l6" style="padding-top:10px;">
					        <div class="" style="padding:10px;">
								<div class="black-text" style="font-size:30px;margin-bottom:20px;border-bottom:1px solid #ddd;">Products</div>
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">Health Insurance: Private Medical Insurance</a></div>
						              	<div>Health Insurance cover from Bupa - Get a free pair of mi adidas trainers when you quote online and buy health insurance. ... Health insurance. ...</div>
						              	<ul>
						              	<li>
						              	<i class="fa fa-check-circle fa-lg green-text" ></i> Fast access to consultants and treatment
						              	</li>
						              	<li>
						              	<i class="fa fa-check-circle fa-lg green-text" ></i> Our cancer promise
						              	</li>
						              	<li>
						              	<i class="fa fa-check-circle fa-lg green-text" ></i> Exclusive member benefits 
						              	</li>
						              	</ul>
						              	
						              	<ul>
						              	<li>
						              	<i class="fa fa-file-text fa-lg black-text" ></i> <a href="#">Get a Quote</a><span style="color:#bbb">&nbsp;&nbsp;|&nbsp;&nbsp;</span><i class="fa fa-phone fa-lg black-text" ></i> <a href="#">0808 115 4396</a>
						              	</li>
						              	</ul>
						              	
						              	
						              </div>
					            	
						              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
						              	<div><a href="#">Bupa Cash Plan</a></div>
						              	<div>Health cash plans. Designed to ... cash plans: Claim back some of your everyday health costs including dental, optical and more. ...</div>
						              </div>
						              
					              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
					              	<div><a href="#">Tooth Care Products And Treatments</a></div>
					              	<div>Tooth care products, such as toothpaste, toothbrushes and dental floss, help to keep teeth clean and prevent tooth decay and gum disease.</div>
					              </div>
					              
					              <div style="margin-bottom:10px;padding-bottom:10px;border-bottom:0px solid #efefef;">
					              	<div><a href="#">Our Products | Bupa Travel Insurance</a></div>
					              	<div>This product is available for UK residents (excluding the Channel Islands) only. ... Our products. Travel insurance quote.</div>
					              </div>
						              
					            <div ng-if="collection == 'all'" class="">
					              <a href="/products5.html" style="color:orange;">View more ...</a>
					            </div>

					            <div ng-if="collection != 'all'">
						            <div class="black-text" style="font-size:30px;margin-bottom:20px;border-bottom:1px solid #efefef;"></div>
						            <div class="grey-text">
						            		Prev&nbsp;&nbsp;&nbsp;&nbsp;
						            		<a href="#">1</a>&nbsp;&nbsp;&nbsp;&nbsp;
						            		<a href="#">2</a>&nbsp;&nbsp;&nbsp;&nbsp;
						            		<a href="#">3</a>&nbsp;&nbsp;&nbsp;&nbsp;
						            		<a href="#">4</a>&nbsp;&nbsp;&nbsp;&nbsp;
						            		<a href="#">5</a>&nbsp;&nbsp;&nbsp;&nbsp;
						            		<a href="#">Next</a>					              
						            </div>
					            </div>
					        </div>
				        </div>