    .site-selector{
		height: 28px;
		position: relative;
		left: 13px;
	}
	
	
	#inputfield{
		width:59%;
	}
	
	#keymatch_holder, #filter_tabs{
		width: 520px;
		float: right;
		margin-top: 20px;
		margin-left: 0;
		margin-right: 0;
	}
	
	/*hide mobile dynamic nav button*/
	#dn_button{
		display:none;
	}
	
	#main{
		width: 700px;
	}
	
	.dyn-nav-wrapper, .main-search-wrapper, .right-hand-wrapper{
		float:left;
	}
	
	.main-search-wrapper{
		width:540px;
	}
	
	.mod-GASearch-showBy{
		position:relative;
	}
	
	#ldc-content .mod-GASearch .cp-searchBox {
		width: 100%;
	}
	
	.mod-GASearch-header{
		margin:0;
	}
	
	.cluster_link, .cluster_comma{
		float:left;
	}
	
	#clustering{
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		float:left;
		width:100%;
	}
	
	
	#cluster_status, #cluster_holder{
		display:none;
	}
	
	#keymatch_padded{
		line-height: 16px;
		background-color:#CCCCCC;
	}
	
	.result-item{
		border-bottom: solid 1px #ddd;
	}
	
	#wrapper table{
		margin:0px;
	}
	
	#wrapper td{
		padding:0px;
	}
	
	.image-div, .result-div, .mod-GASearch-results, div#search_info_holder,#keymatch_holder, #filter_tabs, #searchWrapper{
		float:left;
	}
	
	.image-div img{
		width:100%;
	}
	
	.nav-pages-now{
		width: 100% !important;
		text-align:right;
	}
	
	.nav-paging-container{
		margin:0px;
		background-color: #CCCCCC;
	}
	
	.filters-title{
		font-weight:bold;
	}
	
	#filter_tabs a {
		padding-left: 12px;
		cursor:pointer;
	}
	
	#filter_tabs filter_selected{
		color:#2dc2e3;
	}
	
	#sort_by_holder{
		float:right;
	}
	
	.mod-resultsWrapper{
		border-top:none;
	}
	
	.synoymns-wrapper{
		float:left;
		width:100%;
		}

	.left{
		float:left;
	}
	
	.right{
		float:right;
	}
	
	