

/* CS Overrides */

/* Re-position the ">" attribute text so that it's in line with the attribute header text */

ul li.dn-attr-v:before {
 left: -16px;
}

/* Right align the remove filter button */
.dn-r-img {
 left: auto !important;
 right: 0 !important;
}

/* Visually separate key matches from organic matches */
#keymatch_holder {
 float: right;
 width: 74%;
 max-width: 500px;
 left: 0;
 border-bottom: 1px solid #ccc;
 background: #f5f5f5;
}
#keymatch_holder + #keymatch_holder {
 margin-bottom: 2em;
}
/* "KeyMatch" */
#keymatch_holder b {
 font-size: 10px;
}
/* Style the title so it matches the organic items */
#keymatch_holder a {
 display: block;
 color: #003781;
 font-weight: bold;
 padding-bottom: 6px;
 line-height: 19px;
 height: auto;
 font-size: 13px;
}
/* Remove DOM line breaks */
#keymatch_holder br {
 display: none;
}

#keymatch_padded {
 padding: 10px;
}


#dyn_nav_col > ul > li {
 padding-left: 12px;
}


  
/* Search Form Styling */

#search_holder{
  background: #e5e5e5 !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(29%,#eee),color-stop(29%,#eee));
  background: -webkit-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: -o-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: -ms-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: linear-gradient(to bottom,#e5e5e5 0,#eee 29%,#eee 29%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5',endColorstr='#eeeeee',GradientType=0);  
  padding: 8px; 
}

#search_holder::before, #search_holder::after{
	background-image: url("https://test.allianzebroker.co.uk/etc/designs/common_foundation/default-styles/assets/images/static/sprites/repeatx-sdddf3a6062.png");
	background-repeat: repeat-x;
    background-position: 0 -408px;
	height:1px;
	content: "";
}
.searchform{
	margin-top:5px;
}

.searchLabel{
  font-size: 0.9em;
}




