

/* CS Overrides */

/* Re-position the ">" attribute text so that it's in line with the attribute header text */

ul li.dn-attr-v:before {
 left: -16px;
}

/* Right align the remove filter button */
.dn-r-img {
 left: auto !important;
 right: 0 !important;
}

/* Visually separate key matches from organic matches */
#keymatch_holder {
 float: right;
 width: 74%;
 max-width: 500px;
 left: 0;
 border-bottom: 1px solid #ccc;
 background: #f5f5f5;
}
#keymatch_holder + #keymatch_holder {
 margin-bottom: 2em;
}
/* "KeyMatch" */
#keymatch_holder b {
 font-size: 10px;
}
/* Style the title so it matches the organic items */
#keymatch_holder a {
 display: block;
 color: #003781;
 font-weight: bold;
 padding-bottom: 6px;
 line-height: 19px;
 height: auto;
 font-size: 13px;
}
/* Remove DOM line breaks */
#keymatch_holder br {
 display: none;
}

#keymatch_padded {
 padding: 10px;
}


#dyn_nav_col > ul > li {
 padding-left: 12px;
}


  
/* Search Form Styling */

#search_holder{
  background: #e5e5e5 !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(29%,#eee),color-stop(29%,#eee));
  background: -webkit-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: -o-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: -ms-linear-gradient(top,#e5e5e5 0,#eee 29%,#eee 29%);
  background: linear-gradient(to bottom,#e5e5e5 0,#eee 29%,#eee 29%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5',endColorstr='#eeeeee',GradientType=0);  
  margin-bottom:6px;
}

#search_holder:before, #search_holder:after{
	background-image: url("https://test.allianzebroker.co.uk/etc/designs/common_foundation/default-styles/assets/images/static/sprites/repeatx-sdddf3a6062.png");
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-position: 0 -408px;
	background-repeat: repeat-x;
}
#searchform{
	padding: 7px; 
	position:relative;
}

.searchLabel{
  font-size: 0.9em;
}

label.error{
border-width: 2px;
  font-weight: normal;
  font-size: .923076923077em;
  background: #f7f7f7;
  padding: 5px 30px 5px 7px;
  margin-top: 7px;
  font-style: italic;
  position: relative;
  min-height: 38px;
    border: 1px solid #edbd00;
}

label.error:before{
  content: "";
  position: absolute;
  top: -9px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #edbd00 transparent;
  }
  
label.error:after{
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 24px;
  height: 24px;
  background-position: 0 -1581px;
  background-repeat: no-repeat;
	background-image: url("https://test.allianzebroker.co.uk/etc/designs/common_foundation/default-styles/assets/images/static/sprites/core-se37251be3a.png");
  }

